# By default, ignore all files in root directory.
/*.*

# Exceptions
!/*.make
!/.gitignore

# Uncomment following line if modifying .htaccess ?
#!.htaccess

# Ignore Drupal folders
/includes
/misc
/modules
/scripts
/themes
/sites
/profiles/minimal
/profiles/standard
/profiles/testing
# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private