.apparel.views {
    background: #f5f5f5;
    bottom: 10%;
    height: 1350px;
}
.views.hidden-apparel {
    background: #f5f5f5;
    bottom: 10%;
    height: 1450px;
}
div#apparel div.view-footer {
    position: absolute;
    top: 530%;
}
/*///////////////facets////////////////////*/
#block-odezhda .block-title {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin-top: 0px;
}
/*///////////////////////////*/

#block-podborposezonuodezhda {
    border-top: 1px solid #9a9b9b;
    border-right: 1px solid #9a9b9b;
    border-left: 1px solid #9a9b9b;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    width: 90%;
}

#block-podborposezonuodezhda .block-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 5%;
    margin-bottom: 4%;
}
#block-podborposezonuodezhda ul {
    list-style-type: none;
    padding-left: 10%;
}
/*////////////////////////////*/
#block-napravlenieodezhda {
    border-right: 1px solid #9a9b9b;
    border-left: 1px solid #9a9b9b;
    width: 90%;
}
#block-napravlenieodezhda .block-title {
    width: 90%;
    border-top: 1px solid #9a9b9b;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Condensed',sans-serif;
    margin-left: 5%;
    margin-bottom: 4%;
    padding-top: 3%;
}
#block-napravlenieodezhda ul {
    list-style-type: none;
    padding-left: 10%;
}
/*////////////////////////////*/
#block-tipodezhdyodezhda {
    border-right: 1px solid #9a9b9b;
    border-left: 1px solid #9a9b9b;
    width: 90%;
}
#block-tipodezhdyodezhda .block-title {
    width: 90%;
    border-top: 1px solid #9a9b9b;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Condensed',sans-serif;
    margin-left: 5%;
    margin-bottom: 4%;
    padding-top: 3%;
}
#block-tipodezhdyodezhda ul {
    list-style-type: none;
    padding-left: 10%;
}
/*////////////////////////////*/
#block-podborpotipuodezhda {
    border-right: 1px solid #9a9b9b;
    border-left: 1px solid #9a9b9b;
    border-bottom: 1px solid #9a9b9b;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 90%;
}
#block-podborpotipuodezhda .block-title {
    width: 90%;
    border-top: 1px solid #9a9b9b;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Condensed',sans-serif;
    margin-left: 5%;
    margin-bottom: 4%;
    padding-top: 3%;
}
#block-podborpotipuodezhda ul {
    list-style-type: none;
    padding-left: 10%;
}
/*//////////////content///////////////////*/

.apparel-img a img:last-child {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.apparel-img a img:last-child:hover {
    opacity:0;
}
.apparel-1 a img:last-child {
    position: absolute;
    height: 193px;
    width: 25%;
    top: 0px;
}
.apparel-1 div.apparel-text {
    position: relative;
    top: 230px;
}

.apparel-2 a img:last-child {
    position: absolute;
    height: 193px;
    width: 25%;
    top: 200%;
}
.apparel-2 div.apparel-text {
    position: relative;
    top: 550px;
}

.apparel-3 a img:last-child {
    position: absolute;
    height: 193px;
    width: 25%;
    top: 390%;
}
.apparel-3 div.apparel-text {
    position: relative;
    top: 800px;
}
.row-views div.col-sm-12.background {
    display: none;
}
.region-information-block-reebok {
    position: absolute;
    top: 740px;
}
.apparel-text {
    width: 100%;
    display: block;
    overflow: hidden;
    color: #000;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.apparel-text ul {
    list-style: none;
    color: #FE0808;
    content: "грн.";
}
.apparel-text ul li::after {
    content: "  грн.";
}
/*/////////////view-footer///////////////////*/
div.info-img-reebok-obuv img.align-left {
    width: 12%;
    height: 8%;
    border: 1px solid #F4F3F3;
    margin-right: 5%;
}
div.info-text-reebok-apparel {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-left: 17%;
    overflow: hidden;
    height: 130px;
}
div.info-text-reebok-apparel.text-hidden {
    overflow: hidden;
    height: 0%;
}
.buttom-apparel {
    text-align: center;
}
.buttom-apparel .show-desc {
    display: block;
    width: 12%;
    margin-left: 50%;
}
.buttom-apparel .show-desc.hidden-hide {
    display: none;
}
.buttom-apparel .show-desc::before {
    content: "Развернуть ";
}
.buttom-apparel .hide-desc {
    display: none;
}
.buttom-apparel .hide-desc.hidden-hide {
    display: block;
    width: 11%;
    margin-left: 50%;
}
.buttom-apparel .hide-desc::before {
    content: "Свернуть  ";
}
