.rasprodaja section.col-sm-8 {
    width: 100%;
}
div.rasprodaja div.views-row.clearfix {
    width: 65%;
}
/*///////////////content//////////////////*/
div.rasprodaga-img a:last-child:hover img {
    opacity:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top:0;
}
div.rasprodaga-img a img {
    width: 100%;
}
div.row-1 div.rasprodaga-img a:last-child img {
    position: absolute;!important;
    height: 26%;!important;
    width: 24%;!important;
    top:2%;
}
div.row-2 div.rasprodaga-img a:last-child img {
    position: absolute;
    height: 28%;!important;
    width: 24%;!important;
    top: 35%;
}
div.row-3 div.rasprodaga-img a:last-child img {
    position: absolute;
    height: 29%;!important;
    width: 24%;!important;
    top: 66.5%;
}
.rasprodaja div.rasprodaga-text ul li:first-child {
    display: none;
}
.rasprodaja div.rasprodaga-text ul li {
    color: #848484;
    text-decoration: line-through;
}