.purchase-return-page div.views {
    height: 1150px;
}
.purchase-return-page form#purchase-return-id {
    width: 150%;
}
.purchase-return-page div.return-goods-title {
    text-align: center;
}
.purchase-return-page i.fa.fa-reply {
    color: #AB2328;
}
.purchase-return-page div.description-title {
    text-align: center;
}
.purchase-return-page div.information-title {
    text-align: center;
}
.purchase-return-page div.form-item-name label {
    float: left;
    margin-left: 20%;
}
.purchase-return-page div.form-item-name input {
    width: 50%;
    margin-left: 30%;
}
.purchase-return-page div.form-item-surname label {
    float: left;
    margin-left: 20%;
}
.purchase-return-page div.form-item-surname input {
    width: 50%;
    margin-left: 30%;
}
.purchase-return-page div.form-item-email label {
    float: left;
    margin-left: 29%;
}
.purchase-return-page div.form-item-email input {
    width: 71.5%;
    margin-left: 43%;
}
.purchase-return-page div.form-item-phone label {
    float: left;
    margin-left: 20%;
}
.purchase-return-page div.form-item-phone input {
    width: 50%;
    margin-left: 30%;
}
.purchase-return-page div.form-item-order label {
    float: left;
    margin-left: 20%;
}
.purchase-return-page div.form-item-order input {
    width: 50%;
    margin-left: 30%;
}
.purchase-return-page div.form-item-date label {
    float: left;
    margin-left: 20%;
}
.purchase-return-page div.form-item-date input {
    width: 50%;
    margin-left: 30%;
}
.purchase-return-page div.form-item-rename label {
    float: left;
    margin-left: 20%;
}
.purchase-return-page div.form-item-rename input {
    width: 50%;
    margin-left: 30%;
}
.purchase-return-page div.form-item-model label {
    float: left;
    margin-left: 20%;
}
.purchase-return-page div.form-item-model input {
    width: 50%;
    margin-left: 30%;
}
.purchase-return-page div.form-item-amount label {
    float: left;
    margin-left: 20%;
}
.purchase-return-page div.form-item-amount input {
    width: 50%;
    margin-left: 30%;
}
.purchase-return-page fieldset#edit-cause--wrapper legend {
    float: left;
    margin-left: 20%;
    width: 10%;
    border: none;
}
.purchase-return-page fieldset#edit-cause--wrapper div.form-item-cause {
    margin-left: 30%;
}
.purchase-return-page fieldset#edit-unpacked--wrapper legend {
    float: left;
    margin-left: 20%;
    width: 10%;
    border: none;
}
.purchase-return-page fieldset#edit-unpacked--wrapper div.form-item-cause {
    margin-left: 30%;
}
.purchase-return-page div.form-item-description label {
    float: left;
    margin-left: 20%;
}
.purchase-return-page div.form-textarea-wrapper {
    width: 50%;
    margin-left: 30%;
}
.back-left-link {
    margin-left: 23%;
    background-color: #d9534f;
    border-color: #d43f3a;
    height: 32px;
    display: inline-block;
    border-radius: 2px;
    color: #252525;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
    padding: 0 22px;
    cursor: pointer;
    margin-bottom: 3%;
    float: left;
    margin-top: 2%;
}
.back-left-link:hover {
    text-decoration: none;
    transition: 0.7s;
    color: #fff;
}
.back-left-link:not(:hover) {
    transition: 0.7s;
}
.purchase-return-page div.form-item-checkbox {
    float: left;
    margin-top: 2.5%;
    margin-left: 8%;
}
.purchase-return-page div.form-item-checkbox input {
    position: absolute;
    left: 105%;
}
.finish-right button {
    margin-left: 2%;
    background-color: #d9534f;
    border-color: #d43f3a;
    height: 32px;
    display: inline-block;
    border-radius: 2px;
    color: #252525;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
    padding: 0 22px;
    cursor: pointer;
    margin-bottom: 3%;
    margin-top: 2%;
}
.finish-right button:hover {
    text-decoration: none;
    transition: 0.7s;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.finish-right button:not(:hover) {
    transition: 0.7s;
}













