.contacts-page div.views {
    height: 960px;
}
#block-contactblock h2.block-title {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 3%;
}
.contacts-page div.form-item-field-vashe-imya-0-value label {
    float: left;
    text-align: left;
    font-size: 90%;
}
.contacts-page div.form-item-field-vashe-imya-0-value label::before {
    content: '* ';
    color: #ff5100;
}
.contacts-page div.form-item-field-vashe-imya-0-value input {
    display: inline-block;
    width: 50%;
    margin-left: 170px;
}
.contacts-page div.form-item-field-e-mail-dlya-svyazi-0-value label {
    float: left;
    text-align: left;
    font-size: 90%;
}
.contacts-page div.form-item-field-e-mail-dlya-svyazi-0-value label::before {
    content: '* ';
    color: #ff5100;
}
.contacts-page div.form-item-field-e-mail-dlya-svyazi-0-value input {
    display: inline-block;
    width: 50%;
    margin-left: 120px;
}
.contacts-page div.form-item-field-soobschenie-0-value label {
    float: left;
    text-align: left;
    font-size: 90%;
}
.contacts-page div.form-item-field-soobschenie-0-value .form-textarea-wrapper {
    display: inline-block;
    width: 50%;
    margin-left: 170px;
}
.contacts-page div#edit-actions button#edit-submit {
    margin-left: 240px;
    border-color: transparent;
    background: #000;
    height: 32px;
    display: inline-block;
    border-radius: 2px;
    color: #cccce0 !important;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
    padding: 0 22px;
    cursor: pointer;
    margin-bottom: 3%;
}
.contacts-page div#edit-actions button#edit-submit:hover {
    background: #af273b;
    transition: 0.7s;
}
.contacts-page div#edit-actions button#edit-submit:not(:hover) {
    transition: 0.7s;
}
.contacts-page div#edit-actions button#edit-preview {
    display: none;
}
.contacts-page section.google-map-field {
    width: 150%;
}