<style>
  h1 {
    color: red; /* Цвет символа */
    font-size: 200%; /* Размер шрифта */
  }
  h3 {
    color: #ff4b7d; /* Цвет символа */
    font-size: 100%; /* Размер шрифта */
  }
  p {
    color: rgb(49, 151, 116); /* Цвет текста */
  }
</style>
<h1>Привет {{ name }}</h1>
<h3>{{ title }}</h3>
<p>{{ body }}</p>