/**
 * Place your custom styles here.
 */
.body {
    margin-top: 0px;!important;
}
.menu--top-panel li {
    display: inline-block;
}
.navbar-default {
    background: #141414;
}
.navbar.container {
    max-width: 100%;
    width: 100%;
}
.element.style {
    padding-top: 79px;
    margin-top: 0px;
}
.menu--scroll-menu li {
    display: inline-block;
}
.menu--scroll-menu {
    background: #141414;
}
#block-pageemblem {
    display: inline-block;
}
#block-namber {
    display: inline-block;
    bottom: 50px;
}
#block-namber-099 {
    display: inline-block;
    bottom: 50px;
}
#block-namber-073 {
    display: inline-block;
    bottom: 50px;
}
#block-info-address-block {
    display: inline-block;
    bottom: 50px;
}
.region-info-block section {
    padding-left: 50px;
}